<component name="ArtifactManager">
  <artifact type="war" name="springbootssmtest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot-ssm-test.war">
      <element id="artifact" artifact-name="springbootssmtest:war exploded" />
    </root>
  </artifact>
</component>